{% extends 'base.html' %} {% block content %}

<h1>Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Stock</th>
      <th>Categoria</th>
    </tr>
  </thead>

  <tbody>
    {% for product in products %}
    <tr>
      <td>
        <a href="{% url 'product:details' product.id %}">
          {{ product.name }}
        </a>
      </td>
      <td>{{ product.stock }}</td>
      <td>{{ product.category }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
