{% extends 'base.html' %} {% block content %}

<h1 class="mt-3">Producto Nuevo</h1>

<div class="card mt-3">
    <div class="card-body">
        <form action="{% url 'product:create' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}"
                    name="name" id="name" placeholder="..." required>
                <div class="invalid-feedback">
                {% if errors.name %}
                {% for error in errors.name %}
                    {{ error.message }}
                {% endfor %}
                {% endif %}       
                </div>
            </div>

            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control {% if errors.name %}is-invalid{% endif %}" 
                    name="stock" id="stock" placeholder="0.00" required>
                <div class="invalid-feedback">
                {% if errors.stock %}
                {% for error in errors.stock %}
                    {{ error.message }}
                {% endfor %}
                {% endif %}       
                </div>
            </div>
            
            <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"></i> Guardar</button>
            <a href="{% url 'product:index' %}" class="btn btn-outline-secondary"><i class="fa fa-undo"></i> Volver</a>
        </form>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        user_location = "{{ request.user.location.id|escapejs }}" ?? null
        console.log(user_location)
        if(user_location == "")
        {
            Swal.fire('Aviso', 'Antes de guardar un producto debe seleccionar un almacen predeterminado para su usuario', 'warning').then(assignLocation())
        }
    })
</script>
{% endblock %}