{% extends 'base.html' %} {% block content %}
{% load static %}

<h1>Transacción Nueva</h1>

<div class="card mt-3">
    <div class="card-body">

        <div class="row mb-3">
            <div class="d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-outline-success"><i class="fa fa-save"></i> Guardar
                    Transacción</button>
                <a href="{% url 'product:transaction_index' %}" class="btn btn-outline-danger"><i class="fa fa-times"></i>
                    Cancelar
                </a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col">
                <label for="date" class="form-label">Fecha</label>
                <input type="date" class="form-control" value="{% now 'Y-m-d' %}" name="date" id="date">
            </div>
            <div class="col">
                <label for="comment" class="form-label">Observaciones</label>
                <textarea class="form-control" name="comment" id="comment" cols="10" rows="1"></textarea>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col">
                <label for="type" class="form-label">Tipo de Transacción</label>
                <select type="text" class="form-select {% if errors.type %}is-invalid{% endif %}" id="type"
                    placeholder="..." aria-label="..." aria-describedby="button-addon2">
                    {% for item in types %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% empty %}
                    <option value="">-No se encontraron registros-</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    {% if errors.type %}
                    {% for error in errors.type %}
                    {{ error.message }}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <label for="category" class="form-label">Categoria</label>
                <div class="input-group">
                    <select type="text" class="form-select {% if errors.name %}is-invalid{% endif %}" id="category"
                        placeholder="..." aria-label="..." aria-describedby="button-addon2">
                        {% for item in categories %}
                        {% if forloop.first %}
                        <option value="">-Seleccione-</option>
                        {% endif %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                        {% empty %}
                        <option value="">-No se encontraron registros-</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        {% if errors.category %}
                        {% for error in errors.category %}
                        {{ error.message }}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col">
                <label for="product" class="form-label">Producto</label>
                <div class="input-group">
                    <select type="text" class="form-select" id="product">
                        <option value="" selected>-Seleccione la categoria-</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="amount" class="form-label">Cantidad</label>
                <div class="input-group">
                    <input type="number" class="form-control {% if errors.name %}is-invalid{% endif %}" id="amount"
                        placeholder="0.00">
                    <button class="btn btn-primary" type="button" id="button-addon2" data-bs-toggle="tooltip"
                        data-bs-placement="top" onclick="addProduct()"
                        data-bs-title="Agregar producto y cantidad a la transacción">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="invalid-feedback">
                        {% if errors.amount %}
                        {% for error in errors.amount %}
                        {{ error.message }}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h4>Productos en Transacción</h4>

        <form action="{% url 'product:transaction_create' %}" method="post">
            {% csrf_token %}

            <div class="mb-3 table-responsive">
                <table class="table table-striped table-hover table-sm" id="table">
                    <thead>
                        <tr class="table-secondary">
                            <th>Transacción</th>
                            <th>Categoria</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </form>
    </div>
</div>
<script>
    let table = null,
        type = $("#type"),
        category = $("#category"),
        product = $("#product"),
        amount = $("#amount")

    $(document).ready(function () {

        category.change(function () {
            getProducts(category.val())
        })

        table = $("#table").DataTable({
            language: {
                url: "{% static 'json/es-ES.json' %}"
            },
            dom: 'btr',
            columnDefs: [
                { targets: "_all", className: 'text-center' },
                { targets: -1, orderable: false },
            ]
        })

        amount.keyup(function (e) {
            if (e.key === 'Enter') {
                addProduct()
            }
        })
    })

    function getProducts(category_id) {
        $.ajax({
            type: 'GET',
            url: "/inventory/ajax/products-by-category",
            data: {
                category_id: category_id
            },
            success: (resp) => {
                let options = ""
                if (resp.length > 0) {
                    options = `<option value="" selected>-Seleccione-</option>`
                    resp.forEach((e) => {
                        options += `<option value="${e.id}">${e.name}</option>`
                    })
                } else {
                    options = `<option value="" selected>-Sin productos registrados-</option>`
                }
                product.empty().append(options)
            },
            error: (resp) => {
                console.error(resp)
            }
        })
    }

    function addProduct() {
        if (!product.val()) {
            Swal.fire('Aviso', 'El campo <b>Producto</b> es requerido.', 'warning').then(() => {
                product.focus()
            })
            return;
        }
        if (!amount.val()) {
            Swal.fire('Aviso', 'El campo <b>Cantidad</b> es requerido.', 'warning').then(() => {
                amount.focus()
            })
            return;
        }

        cantidad = (type.val() == 'E') ? amount.val() : amount.val() * -1

        table.row.add([
            `<input type="hidden" name="type[]" value="${type.val()}"> ${type.find('option:selected').text()}`,
            `<input type="hidden" name="category[]" value="${category.val()}"> ${category.find('option:selected').text()}`,
            `<input type="hidden" name="product[]" value="${product.val()}"> ${product.find('option:selected').text()}`,
            `<input type="hidden" name="amount[]" value="${amount.val()}"> ${cantidad}`,
            '',
        ]).draw()

        clearFields()
    }

    function clearFields() {
        amount.val(null)
        product.val(null)
    }
</script>

{% endblock %}


{% block custom_css %}
{% endblock custom_css %}

{% block custom_js %}
{% endblock custom_js %}