{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="mt-3">Transacciones</h1>

<secction class="container">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-6 mb-3 clearfix">
                  <a class="btn btn-outline-primary" href="{% url 'product:transaction_create' %}">
                    <i class="fa fa-plus"></i> Nueva
                  </a>
                </div>
                <div class="col-6 text-end mb-3 clearfix">
                  <a class="btn btn-outline-success" href="{% url 'product:xls_transactions' %}">
                    <i class="fa fa-file-excel-o"></i> Exportar a Excel
                  </a>
                </div>
              </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-sm align-middle" id="table" style="width: 100%;">
                        <thead>
                            <tr style="border-style: solid black 1px;">
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Comentario</th>
                                <th>
                                  <table class="table table-sm">
                                    <thead>
                                      <tr>
                                        <th class="text-center">Almacén</th>
                                        <th class="text-center">Producto</th>
                                        <th class="text-center">Transacción</th>
                                        <th class="text-center">Cantidad</th>
                                      </tr>
                                    </thead>
                                  </table>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</secction>

<script>
   let transaction_types = undefined
    $(document).ready(function () {
      table = $("#table").DataTable({
        language: {
          url: "{% static 'json/es-ES.json' %}"
        },
        /*dom: 'Bfrtip',
        buttons: [
          'copyHtml5',
          {
            text: 'Excel',
            action: (e, dt, node, config) => {
              return window.location.href = "{% url 'product:xls_transactions' %}"
            }
          },
        ],*/
        responsive: true,
        ajax: {
            type: 'GET',
            url: '{% url "product:ajax_transactions" %}',
            dataSrc: (json) => {
              transaction_types = json.transaction_types;
              return json.data;
            }
        },
        columns: [
          { data: 'id' },
          { data: 'date' },
          { data: 'comment' },
          { 
            data: 'details', render: (d,t,r) => {
              let rows = ''
              d.forEach( (e) => {
                rows += `<tr>
                  <td class="text-center" width="25%">${e.location__name}</td>
                  <td class="text-start" width="25%"><b>${e.product__name}<b/></td>
                  <td class="text-center" width="25%">${transaction_types[e.type]}</td>
                  <td class="text-end" width="25%">${e.amount}</td>
                </tr>`
              });
              return `<table class="table table-sm m-0 table-bordered">${rows}</table>`;
            }
          },
          
        ],
        columnDefs: [
          { targets: '_all', className: 'text-center'},
          { targets: [-1, -2], orderable: false }
        ],
        sorting: [
          [1, 'desc'],
          [0, 'desc'],
        ]
      });
    })
  </script>

{% endblock %}

{% block custom_css %}
<!-- Responsive Datatable CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.bootstrap5.min.css'%}">
<!-- Export Buttons -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
{% endblock %}

{% block custom_js %}
<!-- Basic Datatables Js -->
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/responsive.bootstrap5.min.js' %}"></script>
<!-- Export Buttons -->
<!-- <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script> -->
{% endblock %}