{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="post" class="card card-body">
                {% csrf_token %}

                <h1 class="text-center">Signin</h1>
                {{ error }}
                {% csrf_token %}

                <!-- {{ form }} -->
                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Writer your username"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Writer your password"
                        class="form-control">
                </div>

                <button class="btn btn-primary">
                    Signin
                </button>

            </form>
        </div>
    </div>
</main>

{% endblock %}